<mat-toolbar class="toolbar">
  <span class="tasklist-count">
    <a href="#" routerLink="/" style="color: white;"> {{ numberOfTasklists$ | async }} Aufgabenverwaltung
    </a>
  </span>
  <div>
    <a href="#" routerLink="/">
      <button class="icon1" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
      </button>
    </a>
    <a href="#" routerLink="/task">
     <button class="icon2" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
      </button>
    </a>
    <a href="#" routerLink="/newtask">
      <button class="icon3" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </a>
    <a href="#" *ngIf="!(loginStatus$ | async)" routerLink="/login">
      <button class="icon4" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
      </button>
    </a>
    <a href="#" *ngIf="(loginStatus$ | async)">
      <button class="icon4"
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
        (click)="logout()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
      </button>
    </a>
    {{ user$ | async }}
  </div>
</mat-toolbar>
<app-list-container
  [tasklists]="tasklists$ | async"
  [count]="numberOfTasklists$ | async"
></app-list-container>
<router-outlet></router-outlet>
