<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title>ID: {{id}}<br>
      Name: {{name}}</mat-card-title>
    <div class="mat-card-buttons">
    <button mat-mini-fab
      (click)="delete()"
      color="primary">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>
    <button mat-mini-fab color="primary">
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </button>
    <button mat-mini-fab color="primary">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
    </div>
  </mat-card-header>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
    <div class="list-item" *ngFor="let task of tasklist.tasks">
      <app-list-item [task]="task"></app-list-item>
    </div>
  </mat-card-content>
</mat-card>
