$primaryBackground: rgb(34, 20, 43);

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1;
}

mat-sidenav {
    width: 24rem;
}

mat-toolbar {
    justify-content: space-between;
}

.icon1,.icon2,.icon3,.icon4 {
    margin: 5px;

    &:hover {
        background: lighten($primaryBackground, 20%);
    }

    :link, :visited{
        color: rgb(134, 134, 134);
    }
    
}

.toolbar {
    background: $primaryBackground;
    color: white;
}

.tasklist-count {
    font-size: 1rem;
}
