<div>
  <mat-form-field>
    <h2>Filter Auswahl:</h2>
    <button mat-flat-button color="primary">Gewichtung filtern</button>
      <mat-label>Gewichtung</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="gewichtung">
        <mat-option [value]="1">
          unwichtig
        </mat-option>
      </mat-select>
    <button mat-flat-button color="primary">Status filtern</button>
  </mat-form-field>
</div>
<div>
  <h2>Sortierung Auswahl:</h2>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Primary</button>
</div>
