<mat-toolbar style="justify-content: space-between;">
  <mat-toolbar-row>
    <span>
      <h2>Filter Auswahl Wert: </h2>
    </span>
    <span>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedGewichtung" name="gewichtung">
          <mat-option *ngFor="let g of gewichte" [value]="g">
            {{g}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="filterGewichtung()">Gewichtung filtern</button>
      <button mat-flat-button color="primary" (click)="filterStatus()">Status filtern</button>
      <button mat-flat-button color="primary" (click)="reset()">Reset</button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>
      <h2>
        Sortieren nach:
      </h2>
    </span>
    <span class="Sortierung">
      <button mat-flat-button color="primary" (click)="sortGewichtungAuf()">Gewichtung aufsteigend</button>
      <button mat-flat-button color="primary" (click)="sortGewichtungAb()">Gewichtung absteigend</button>
      <button mat-flat-button color="primary" (click)="sortStatusAuf()">Status aufsteigend</button>
      <button mat-flat-button color="primary" (click)="sortStatusAb()">Status absteigend</button>
      <button mat-flat-button color="primary" (click)="sortZeitpunktAuf()">Zeitpunkt aufsteigend</button>
      <button mat-flat-button color="primary" (click)="sortZeitpunktAb()">Zeitpunkt absteigend</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
